/* font-family: 'Montserrat', sans-serif;
font-family: 'Baskervville', serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    max-width: 100vw;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    

}

.container form{
    display: flex;
    flex-direction: column;
    /* margin: 2rem auto; */
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
}

.container form label{
    margin: 1rem auto;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    
}

.container form .input-group{
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container form input{
    padding: 10px;
    border-radius: 5px;
    width: 90vw;
    font-size: 1.2rem;
    border: 2px ridge lightgrey;
    /* background: greenyellow; */
    
}

.container form .btn-go{
padding: 5px;
width: 100px;
margin-top: 10px;
border: none;
border-radius: 10px;
background-image: linear-gradient(to right top, #744fc6, #7b4ec8, #824dca, #894ccc, #904ace, #8952d2, #8359d5, #7c60d7, #686dd8, #5877d4, #4f7fce, #4f86c6);
.container h1 {
    /* margin-top: 10px; */
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif
}

.details{
    z-index: 10;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    /* margin: auto; */
    margin-top:1rem;
    font-family: 'Baskervville', serif;
    
}

.details .details-span{
    font-size:1.3rem;
    font-family: 'Montserrat', sans-serif
}

/* .container h4 span {
    
    font-size: 1.3rem;
    margin-left: 5px;
    font-family: 'Baskervville', serif;
    color: red;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100vw;
    height: 60vh;
    border-radius: 5px;
    margin-top: 5px;
    /* margin-bottom: 5px; */
    background-image: linear-gradient(to right top, #fffbfa, #f8f2f3, #efeaed, #e4e2e8, #d8dbe2);
   
   
}

.card .time{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .details h5{
    font-size:2rem
}

.container .card .time {
    width: 100%;
    /* opacity: 0.6; */
  
}
.day{
background: url('https://loewentj.github.io/weather/day.svg');
background-repeat: no-repeat;

background-size: cover;
height: 100%;
z-index: -10;
color:black;
}
.night{
    background: url('https://loewentj.github.io/weather/night.svg');
    background-repeat: no-repeat;
   
    background-size: cover;
    height: 100%;
    z-index: -10;
    color: white;
}


.container .card .time-img{
    width: 100%;
    height: auto;
    
    
  
  
}

.day-color{
    background-color: yellow;
}

.night-color{
    background-color: black;
}

.container .card .sun img{
    
    height:80px ;
    /* border: 1px solid red; */
    background-color: grey;
    border-radius: 100%;
    margin-top: 1rem;
   
   
}


.carousel-container{
    
  
   /* margin-left: 1%; */
   margin-right: 15%;
   margin-left: 15%;
   white-space: nowrap;
  
  
   /* position: relative; */
    width: 100%;
    height: 140px;
   
   
    overflow: hidden;
}
.photobanner {
    display:flex;
   
    margin-bottom: 80px;
   
    animation: bannermove 20s linear infinite ;
    
}

.photobanner .image{
    height: 60px;
    width: auto;
    margin-right: 5px;
   
}
figcaption{
    font-size: 0.5rem;
    text-align: center;
}


.display-none{
    display:none;
}

@keyframes bannermove {
    0% {
       margin-left: 125%;
      
    }
    100% {
       margin-left: -200%;
    }
   
   }




.photobanner img:hover {
	
	transform: scale(1.1);
	cursor: pointer;

	
	box-shadow: 0px 3px 5px rgba(0,0,0,0.2);
}



@media screen and (min-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
    .card {
        width: 30%;
    }

    .container .card .sun img{
    
        height:300px ;
        border: 1px solid blue;
        background-color: grey;
        border-radius: 100%;
       position: relative;
       bottom: 150px;
        /* margin: 0 auto; */
       
    }
    .carousel-container{
      
        width: 50%;
        height: 150px;
        /* margin-right: 200%; */
    }
    .photobanner {
        display:flex;
       
        margin-bottom: 80px;
        animation: bannermove 10s linear infinite ;
        
    }
    .image{
        height: 80px;
        width: auto;
        margin-right: 5px;
       
    }
    figcaption{
        font-size: 1rem;
        
    }
    @keyframes bannermove {
        0% {
           margin-left: 110%;
          
        }
        100% {
           margin-left: -65%;
        }
       
       }
    
}